# Practical Application III: Comparing Classifiers

**Overview**: In this practical application, your goal is to compare the performance of the classifiers we encountered in this section, namely K Nearest Neighbor, Logistic Regression, Decision Trees, and Support Vector Machines.  We will utilize a dataset related to marketing bank products over the telephone.

### Getting Started

Our dataset comes from the UCI Machine Learning repository [link](https://archive.ics.uci.edu/ml/datasets/bank+marketing).  The data is from a Portugese banking institution and is a collection of the results of multiple marketing campaigns.  We will make use of the article accompanying the dataset [here](CRISP-DM-BANK.pdf) for more information on the data and features.

### Problem 1: Understanding the Data

To gain a better understanding of the data, please read the information provided in the UCI link above, and examine the **Materials and Methods** section of the paper.  How many marketing campaigns does this data represent?

### Problem 2: Read in the Data

Use pandas to read in the dataset `bank-additional-full.csv` and assign to a meaningful variable name.

In [205]:
import pandas as pd
import numpy as np

In [206]:
df = pd.read_csv('data/bank-additional/bank-additional-full.csv', sep = ';')

In [207]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

### Problem 3: Understanding the Features


Examine the data description below, and determine if any of the features are missing values or need to be coerced to a different data type.


```
Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5 - default: has credit in default? (categorical: 'no','yes','unknown')
6 - housing: has housing loan? (categorical: 'no','yes','unknown')
7 - loan: has personal loan? (categorical: 'no','yes','unknown')
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: 'cellular','telephone')
9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric)
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')
```

#### 'unknown' values contain missing data.  We will need to address them as missing data.
- job
- marital
- education
- default
- housing
- loan

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

#### 'object' data types will need to be coerced to categorical data types.
- job
- marital
- education
- default
- housing
- loan
- contact
- month
- day_of_week
- poutcome
- y (target variable)

#### 'y' column
- to be renamed to 'target' for clarity.
- to be converted to binary 0/1 values for modeling.

#### 'pdays' column should be binary feature

In [209]:
#### Data Cleaning

In [210]:
# rename 'y' column to 'target'
df = df.rename(columns={'y': 'target'})

In [211]:
# convert 'target' column to binary 0/1 values
df['target'] = df['target'].map({'yes': 1, 'no': 0})
df.head()

# get all unique values of target column
df['target'].unique()

array([0, 1])

In [212]:
# convert 'pdays' column to binary feature
df['pdays'] = df['pdays'].apply(lambda x: 0 if x == 999 else 1)

# get all unique values of pdays column
df['pdays'].unique()

array([0, 1])

In [213]:
# List of categorical columns to one-hot encode
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

# Loop through the columns and apply one-hot encoding
for col in categorical_columns:
    dummies = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df, dummies], axis=1)
    df.drop(col, axis=1, inplace=True)

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 64 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   duration                       41188 non-null  int64
 2   campaign                       41188 non-null  int64
 3   pdays                          41188 non-null  int64
 4   previous                       41188 non-null  int64
 5   emp.var.rate                   41188 non-null  float64
 6   cons.price.idx                 41188 non-null  float64
 7   cons.conf.idx                  41188 non-null  float64
 8   euribor3m                      41188 non-null  float64
 9   nr.employed                    41188 non-null  float64
 10  target                         41188 non-null  int64
 11  job_admin.                     41188 non-null  bool
 12  job_blue-collar                41188 non-null  bool
 13  job_entrepreneur               41188 non-null  bool
 14  job_housemaid                  41188 non-null  bool
 15  job_management                 41188 non-null  bool
 16  job_retired                    41188 non-null  bool
 17  job_self-employed              41188 non-null  bool
 18  job_services                   41188 non-null  bool
 19  job_student                    41188 non-null  bool
 20  job_technician                 41188 non-null  bool
 21  job_unemployed                 41188 non-null  bool
 22  job_unknown                    41188 non-null  bool
 23  marital_divorced               41188 non-null  bool
 24  marital_married                41188 non-null  bool
 25  marital_single                 41188 non-null  bool
 26  marital_unknown                41188 non-null  bool
 27  education_basic.4y             41188 non-null  bool
 28  education_basic.6y             41188 non-null  bool
 29  education_basic.9y             41188 non-null  bool
 30  education_high.school          41188 non-null  bool
 31  education_illiterate           41188 non-null  bool
 32  education_professional.course  41188 non-null  bool
 33  education_university.degree    41188 non-null  bool
 34  education_unknown              41188 non-null  bool
 35  default_no                     41188 non-null  bool
 36  default_unknown                41188 non-null  bool
 37  default_yes                    41188 non-null  bool
 38  housing_no                     41188 non-null  bool
 39  housing_unknown                41188 non-null  bool
 40  housing_yes                    41188 non-null  bool
 41  loan_no                        41188 non-null  bool
 42  loan_unknown                   41188 non-null  bool
 43  loan_yes                       41188 non-null  bool
 44  contact_cellular               41188 non-null  bool
 45  contact_telephone              41188 non-null  bool
 46  month_apr                      41188 non-null  bool
 47  month_aug                      41188 non-null  bool
 48  month_dec                      41188 non-null  bool
 49  month_jul                      41188 non-null  bool
 50  month_jun                      41188 non-null  bool
 51  month_mar                      41188 non-null  bool
 52  month_may                      41188 non-null  bool
 53  month_nov                      41188 non-null  bool
 54  month_oct                      41188 non-null  bool
 55  month_sep                      41188 non-null  bool
 56  day_of_week_fri                41188 non-null  bool
 57  day_of_week_mon                41188 non-null  bool
 58  day_of_week_thu                41188 non-null  bool
 59  day_of_week_tue                41188 non-null  bool
 60  day_of_week_wed                41188 non-null  bool
 61  poutcome_failure               41188 non-null  bool
 62  poutcome_nonexistent           41188 non-null  bool
 63  poutcome_success               41188 non-null  bool
dtypes: bool(53), float64(5), int64(6)
memory usage: 5.5 MB

In [215]:
# Save the cleaned data to a new CSV file
df.to_csv('data/bank-additional/bank-additional-cleaned.csv', index=False)

df = pd.read_csv('data/bank-additional/bank-additional-cleaned.csv')

### Problem 4: Understanding the Task

After examining the description and data, your goal now is to clearly state the *Business Objective* of the task.  State the objective below.

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 64 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   duration                       41188 non-null  int64
 2   campaign                       41188 non-null  int64
 3   pdays                          41188 non-null  int64
 4   previous                       41188 non-null  int64
 5   emp.var.rate                   41188 non-null  float64
 6   cons.price.idx                 41188 non-null  float64
 7   cons.conf.idx                  41188 non-null  float64
 8   euribor3m                      41188 non-null  float64
 9   nr.employed                    41188 non-null  float64
 10  target                         41188 non-null  int64
 11  job_admin.                     41188 non-null  bool
 12  job_blue-collar                41188 non-null  bool
 13  job_entrepreneur               41188 non-null  bool
 14  job_housemaid                  41188 non-null  bool
 15  job_management                 41188 non-null  bool
 16  job_retired                    41188 non-null  bool
 17  job_self-employed              41188 non-null  bool
 18  job_services                   41188 non-null  bool
 19  job_student                    41188 non-null  bool
 20  job_technician                 41188 non-null  bool
 21  job_unemployed                 41188 non-null  bool
 22  job_unknown                    41188 non-null  bool
 23  marital_divorced               41188 non-null  bool
 24  marital_married                41188 non-null  bool
 25  marital_single                 41188 non-null  bool
 26  marital_unknown                41188 non-null  bool
 27  education_basic.4y             41188 non-null  bool
 28  education_basic.6y             41188 non-null  bool
 29  education_basic.9y             41188 non-null  bool
 30  education_high.school          41188 non-null  bool
 31  education_illiterate           41188 non-null  bool
 32  education_professional.course  41188 non-null  bool
 33  education_university.degree    41188 non-null  bool
 34  education_unknown              41188 non-null  bool
 35  default_no                     41188 non-null  bool
 36  default_unknown                41188 non-null  bool
 37  default_yes                    41188 non-null  bool
 38  housing_no                     41188 non-null  bool
 39  housing_unknown                41188 non-null  bool
 40  housing_yes                    41188 non-null  bool
 41  loan_no                        41188 non-null  bool
 42  loan_unknown                   41188 non-null  bool
 43  loan_yes                       41188 non-null  bool
 44  contact_cellular               41188 non-null  bool
 45  contact_telephone              41188 non-null  bool
 46  month_apr                      41188 non-null  bool
 47  month_aug                      41188 non-null  bool
 48  month_dec                      41188 non-null  bool
 49  month_jul                      41188 non-null  bool
 50  month_jun                      41188 non-null  bool
 51  month_mar                      41188 non-null  bool
 52  month_may                      41188 non-null  bool
 53  month_nov                      41188 non-null  bool
 54  month_oct                      41188 non-null  bool
 55  month_sep                      41188 non-null  bool
 56  day_of_week_fri                41188 non-null  bool
 57  day_of_week_mon                41188 non-null  bool
 58  day_of_week_thu                41188 non-null  bool
 59  day_of_week_tue                41188 non-null  bool
 60  day_of_week_wed                41188 non-null  bool
 61  poutcome_failure               41188 non-null  bool
 62  poutcome_nonexistent           41188 non-null  bool
 63  poutcome_success               41188 non-null  bool
dtypes: bool(53), float64(5), int64(6)
memory usage: 5.5 MB

### Problem 5: Engineering Features

Now that you understand your business objective, we will build a basic model to get started.  Before we can do this, we must work to encode the data.  Using just the bank information features, prepare the features and target column for modeling with appropriate encoding and transformations.

### Problem 6: Train/Test Split

With your data prepared, split it into a train and test set.

### Problem 7: A Baseline Model

Before we build our first model, we want to establish a baseline.  What is the baseline performance that our classifier should aim to beat?

### Problem 8: A Simple Model

Use Logistic Regression to build a basic model on your data.

### Problem 9: Score the Model

What is the accuracy of your model?

### Problem 10: Model Comparisons

Now, we aim to compare the performance of the Logistic Regression model to our KNN algorithm, Decision Tree, and SVM models.  Using the default settings for each of the models, fit and score each.  Also, be sure to compare the fit time of each of the models.  Present your findings in a `DataFrame` similar to that below:

| Model | Train Time | Train Accuracy | Test Accuracy |
| ----- | ---------- | -------------  | -----------   |
|     |    |.     |.     |

### Problem 11: Improving the Model

Now that we have some basic models on the board, we want to try to improve these.  Below, we list a few things to explore in this pursuit.

- More feature engineering and exploration.  For example, should we keep the gender feature?  Why or why not?
- Hyperparameter tuning and grid search.  All of our models have additional hyperparameters to tune and explore.  For example the number of neighbors in KNN or the maximum depth of a Decision Tree.  
- Adjust your performance metric

##### Questions